<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keychain-access-groups</key>
	<array>
		<string>VB2VQ6GKB2.*</string>
	</array>
	<key>get-task-allow</key>
	<false/>
	<key>application-identifier</key>
	<string>VB2VQ6GKB2.com.sohu.inhouse.iphonevideo</string>
	<key>com.apple.developer.team-identifier</key>
	<string>VB2VQ6GKB2</string>
	<key>aps-environment</key>
	<string>production</string>
</dict>
</plist>
